@font-face {
    font-family: "Matrix";
    src: url("/static/LcdSolid-VPzB.ttf");
  }

h1 {
    position: absolute;
    transform: (2,8);
    color: #BFB96A;
    font-family: 'roboto';
    font-size: 3vw;
    z-index: 3;
    width: 30%;
    margin-top: 15vw;
    margin-left: 25vw;
    letter-spacing: 0.5vw;
}

body {
    background-color: #BFB96A;
    font-family: 'roboto';
    margin-left: 15vw;
    margin-right: 15vw;
}

.logo {
    position: relative; 
    /* element parent en relatif, enfant en absolu */
    width: auto; 
    height: 21vw;
    background-size: 100%;
}

#header-image {
    position: absolute;
    opacity: 0.8;
    z-index: 1;
    width: 100%;
    height: 21vw;
    
}

#header-logo {
    margin: auto;
    position: absolute;
    margin-left: 18vw;
    top: 30%; /* positionnement relatif */
    opacity: 1;
    z-index: 2; /* superposition */
    width: 50%;
    
}

#intro {
    color: #BFB96A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #322D2D;
    /*border: 1px solid red;*/
}

#intro-title {
    border-top: 2px solid #BFB96A;
    border-bottom: 2px solid #BFB96A;
    letter-spacing: 0.2vw; /* espacement entre les lettres */
    line-height: 4vw;
}

p {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 2.5vw; /* espacement entre les lignes */
}

nav {
    font-family: 'Matrix';
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
    width: auto;
    color: #00ff41;
    background-color: #003b00;
    margin-left: 3vw;
    margin-right: 2vw;
}

button, option, select {
    font-family: 'Matrix';
    font-size: 1.3vw;
    color: white;
    background-color: #008f11;
    box-shadow: 2px 2px 5px #00ff41;
    padding: 0.4vw;
    margin: 0.2vw;
}